<footer class="page-footer bg-warning pt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes socias</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center p-2">
                <a href="">
                    <img src="https://image.flaticon.com/icons/png/512/20/20673.png" class="me-3 icon icon-facebook" >
                </a>
                <a href="">
                   <img src="https://image.flaticon.com/icons/png/512/1384/1384031.png" class="me-3 icon icon-instagram">
                </a>
                <a href="">
                    <img src="https://image.flaticon.com/icons/png/512/1384/1384014.png" class="me-3 icon icon-linkedin">
                </a>         
            </div>
        </div>

        <div class="row">
            <div class="footer-copyright bg-primary text-center py-3">
                <span class="text-light"> Feito por Hanely Taniguchi</span>
            </div>
        </div>
        
    </div>
</footer>